.btn.btn-primary {
    background-color: #727CF5;
    border-color: #727CF5;
}

body {
    background-color: #FAF9F6;
}

.btn-check:checked + .btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
    color: #fff; 
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.question{
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #727CF5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}