.btn.btn-primary {
    background-color: #727CF5;
    border-color: #727CF5;
}

body {
    /* background: url('../../public/image/bg.webp') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-color: #FAF9F6;
}