.btn.btn-primary {
    background-color: #727CF5;
    border-color: #727CF5;
}

body {
    background-color: #FAF9F6;
    /* background: url('../../public/image/bg.webp') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

#glow {
    font-size: 5em;
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 0px 1px #000, 0px 0px 1px #000;
    animation: heartbeatGlow 2s ease-in-out infinite;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/* Keyframes for the heartbeat effect with calming glow colors */
@keyframes heartbeatGlow {
    0%, 100% {
        text-shadow: 0 0 1px #000, 0 0 10px #a3c4f3, 0 0 15px #a3c4f3, 0 0 20px #a3c4f3;
        transform: scale(1);
    }
    30% {
        text-shadow: 0 0 50px #000, 0 0 20px #a3f3cf, 0 0 25px #a3f3cf, 0 0 30px #a3f3cf;
        transform: scale(1.1);
    }
    60% {
        text-shadow: 0 0 5px #000, 0 0 15px #a3c4f3, 0 0 20px #a3c4f3, 0 0 25px #a3c4f3;
        transform: scale(1);
    }
}

.flip-card {
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card-container {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipped .card-container {
    transform: rotateY(180deg);
}

.card {
    backface-visibility: hidden;
    padding: 20% 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card-title {
    font-size: 5rem;
    margin: 0;
    text-align: center;
}

.responsive-height {
    height: 80vh; 
}

.merged-text {
    font-size: 24px;
    line-height: 1.5;
}

img {
    width: 80%;
    height: 100%; 
    max-height: 150px; 
    object-fit: contain; 
}

.custom-navbar {
    background-color: transparent; 
}

/* Card Background Colors */
.bg-teal-green { background-color: #66CDAA; }
.bg-soft-lavender { background-color: #D8BFD8; }
.bg-light-sage { background-color: #C2D6B2; }
.bg-blush-pink { background-color: #FADADD; }
.bg-warm-coral { background-color: #FFB6C1; }
.bg-rose-quartz { background-color: #F7CAC9; }
.bg-turquoise { background-color: #AFEEEE; }   
.bg-lilac { background-color: #D8BFD8; }       
.bg-peach { background-color: #FFDAB9; }       
.bg-dusty-rose { background-color: #DCAE96; }  
.bg-periwinkle { background-color: #CCCCFF; }  
.bg-blush { background-color: #FFC0CB; }       

@media (max-width: 992px) {
    .merged-text {
        font-size: 20px;
    }

    img {
        width:100%; 
        height: auto;
    }
}

@media (max-width: 768px) {
    .responsive-height {
        height: auto; 
    }
    
    img {
        width:100%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .custom-navbar {
        background-color: white; 
    }
    
    .custom-navbar .nav-item {
        flex: 2;
        margin-top: 20px;
        text-align: center; 
    }
}

@media (max-width: 576px) {
    .merged-text {
        font-size: 20px;
    }
    
    img {
        width:100%;
        height: auto;
        margin-top: 5%;
    }

    .custom-navbar {
        background-color: white; 
    }
    
    .custom-navbar .nav-item {
        flex: 2;
        margin-top: 20px;
        text-align: center; 
    }
}