.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive::before {
    display: block;
    content: "";
}

.embed-responsive-16by9::before {
    padding-top: 56.25%; /* 16:9 ratio */
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.btn.btn-primary {
    background-color: #727CF5;
    border-color: #727CF5;
}

body {
    background-color: #FAF9F6;
}

img {
    width:70%;
}

@media (max-width: 2560px) {
    .nav-link, .navbar-brand  {
        font-size: 1em;
    }
}

@media (max-width: 1024px) {
    .nav-link, .navbar-brand  {
        font-size: 1.3em;
    }
}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    
}