body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAF9F6;
    color: #333;
}

#glow { 
    font-size: 5em;
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 0px 1px #000, 0px 0px 1px #000;
    animation: heartbeatGlow 1.5s ease-in-out infinite;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

@keyframes heartbeatGlow {
    0%, 100% {
        text-shadow: 0 0 5px #000, 0 0 10px #a3c4f3, 0 0 15px #a3c4f3, 0 0 20px #a3c4f3;
        transform: scale(1);
    }
    30% {
        text-shadow: 0 0 20px #000, 0 0 20px #a3f3cf, 0 0 25px #a3f3cf, 0 0 30px #a3f3cf;
        transform: scale(1.1);
    }
    60% {
        text-shadow: 0 0 20px #000, 0 0 15px #a3c4f3, 0 0 20px #a3c4f3, 0 0 25px #a3c4f3;
        transform: scale(1);
    }
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
}

.responsive-height img {
    width: 13%;
    margin-top: 20px; 
}

#logo{
    width:40%;
}

@media (max-width: 4096px) {
    #glow{
        padding-top: 10%;
        font-size: 18em;
    }

    #logo{
        width:50%;
    }

    #touch{
        padding-top: 5%;
        width:20%
    }
}

@media (max-width: 2560px) {
    #glow{
        padding-top: 10%;
        font-size: 6em;
    }

    #logo{
        width:50%;
    }

    #touch{
        padding-top: 5%;
        width:20%
    }
}

@media (max-width: 1024px) {
    #glow{
        padding-top: 20%;
        font-size: 9em;
    }

    #logo{
        width:100%;
    }

    #touch{
        padding-top: 5%;
        width:20%
    }
}

@media (max-width: 768px) {
    #glow{
        padding-top: 20%;
        font-size: 6em;
    }

    #logo{
        width:100%;
    }

    #touch{
        width:20%
    }
}

@media (max-width: 576px) {
    #glow{
        padding-top: 30%;
        font-size: 5em;
    }

    #logo{
        width:100%;
    }

    #touch{
        width:30%
    }
}